body {
  background-color: #ffe3eb;
  color: #1f4d25;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.drake-meme {
  width: auto;
  height: 250px;
  float: right;
  margin-right: 15px;
  border-radius: 5px;
  border: 2px solid black;
}

.error {
  font-size: 12pt;
  color: rgb(119, 19, 19);
}

table, th, td {
  border:1px solid black;
  border-collapse: collapse;
}